apiVersion: v1
kind: Service
metadata:
  name: hostly-react-front-service
  labels:
    app: hostly-react-front
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: hostly-react-front

